<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gosu Family Store</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/responsive.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <div class="newsCard">
        <div class="newsCardOne">
          <span><i class="ri-article-fill" title="news"></i> News</span>
          <div class="charr">
            <div class="frame">
              <img
                src="https://cdn.openart.ai/uploads/image_obVqAVe7_1688290199907_512.webp"
                alt=""
              />
            </div>
            <span>Gina</span>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
            voluptatem enim rem nobis alias asperiores, fuga totam aperiam omnis
            veniam repudiandae, iusto illum molestiae ex!
          </p>
        </div>
      </div>
      <div class="side-nav">
        <a href="/"
          ><div class="logo"><img src="/images/logo.png" alt="" /></div
        ></a>
        <div class="nav-icons">
          <div class="home icc">
            <a class="icc" href="/"
              ><i class="ri-home-5-fill"></i> <span>Home</span></a
            >
          </div>
          <div class="about icc">
            <a class="icc" href="/about"
              ><i class="ri-user-3-fill"></i> <span>About</span></a
            >
          </div>
          <div class="contact icc">
            <a
              class="icc"
              href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=clashsteven123@gmail.com"
              target="_blank"
              ><i class="ri-contacts-book-fill"></i> <span>Contact</span></a
            >
          </div>
          <!-- <div class="theme icc">
                <i class="ri-t-shirt-fill"></i> <span id="themeTxt">Dark</span>
            </div> -->
        </div>
      </div>
      <div class="top-nav">
        <div class="search-bar"></div>
        <div class="icons">
          <i class="ri-article-fill" title="news" id="newsIcon"></i>
          <i class="ri-notification-3-fill" title="updates" id="updateIcon"></i>
          <i class="ri-menu-line" id="menu"></i>
        </div>
      </div>

      <div class="hero-container">
        <div class="last">
          <div class="wrapper">
            <div class="heading">Featured Items</div>

            <a href="/mlbb-alpha"
              ><div class="sp-items">
                <div class="item-img">
                  <img
                    src="https://news.codashop.com/ph/wp-content/uploads/sites/5/2023/02/MLBB-How-Weekly-Diamond-Pass-Works.jpg"
                    alt=""
                  />
                </div>
                <div class="item-name">MLBB: Weekly Pass</div>
              </div></a
            >

            <a href="/mlbb-alpha"
              ><div class="sp-items">
                <div class="item-img">
                  <img
                    src="https://i.pinimg.com/originals/31/6b/72/316b72e3196201d866e1a38c77e36627.jpg"
                    alt=""
                  />
                </div>
                <div class="item-name">MLBB: Twilight Pass</div>
              </div></a
            >
          </div>
        </div>

        <div class="first-part">
          <div class="ad-banner">
            <swiper-container
              class="mySwiper"
              pagination="true"
              pagination-clickable="true"
              navigation="false"
              space-between="30"
              centered-slides="true"
              autoplay-delay="2500"
              autoplay-disable-on-interaction="false"
            >
              <swiper-slide
                ><img
                  src="https://cdn.oneesports.gg/cdn-data/wp-content/uploads/2019/04/MLBB_Malaysia.jpg"
                  alt=""
              /></swiper-slide>
              <swiper-slide
                ><img
                  src="https://i.ytimg.com/vi/hobpDrungfc/maxresdefault.jpg"
                  alt=""
              /></swiper-slide>
              <swiper-slide
                ><img
                  src="https://gumlet.assettype.com/afkgaming%2F2023-06%2Fcfe5df3d-f7e2-4837-af15-62371590e1f6%2FMLBB_NEXT_2023_update.jpg?compress=true&dpr=1&format=webp&w=480"
                  alt=""
              /></swiper-slide>
            </swiper-container>
          </div>

          <div class="products">
            <div class="heading">Our Products</div>
            <div class="list-products">
              <div class="item">
                <div class="photo">
                  <img
                    src="https://cdn.moogold.com/2019/11/mobile-legends-bang-bang-445x445.jpg"
                    alt=""
                  />
                </div>
                <div class="title"><h4>Mobile Legends: Alpha Pack</h4></div>
                <a href="/mlbb-alpha" class="btn"><button>Purchase</button></a>
              </div>

              <div class="item">
                <div class="photo">
                  <img
                    src="https://play-lh.googleusercontent.com/wRXSrwwbzBBlTpowK6onSs3rfBV-4nqVvLJJ7yAZa7jzdGNHpHH2hDhKCyKWj_3nqw=w240-h480-rw"
                    alt=""
                  />
                </div>
                <div class="title"><h4>Mobile Legends: Beta Pack</h4></div>
                <a href="/mlbb-beta" class="btn"><button>Purchase</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/657e7f4570c9f2407f80b1fc/1hhr22aqa';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

    <script src="/javascripts/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>
</html>

<!-- <div class="container">
        <a href="/mlbb-moogold"><button>Mobile Legend MooGold</button></a>
        <a href="/mlbb-beta"><button>Mobile Legend SmileOne</button></a>
    </div> -->

<!--Start of Tawk.to Script-->
