@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}
.side-nav {
  width: 15%;
  height: 100%;
  border-right: 1px solid #00000010;
}

.top-nav {
  width: calc(100% - 15%);
  height: 10%;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 1px 1px 2px solid #0000002c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-container {
  width: calc(100% - 15%);
  height: calc(100% - 10%);
  position: absolute;
  top: 10%;
  left: 15%;
}

.first-part {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5%;
}

.ad-banner {
  width: 100%;
  height: 45%;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #0000001a;
}

swiper-container {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.list-products {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.products {
  width: 100%;
  height: 55%;
  margin-top: 4%;
}
.heading {
  font-size: 1.6vw;
  font-weight: 500;
  margin-left: 1.2vw;
}

.item {
  width: 26%;
  height: 75%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  margin-right: 3%;
  box-shadow: 1px 1px 10px #0000003a;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.item:hover {
  transform: scale(1.02);
}
.photo {
  width: 100%;
  height: 55%;
  background-color: #fff;
  border-radius: 10px;
}
.photo img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title > h4 {
  width: 100%;
  margin-top: 8%;
  margin-left: 3%;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1rem;
}

button {
  width: 50%;
  height: 14%;
  margin-top: 8%;
  margin-left: 3%;
  border: none;
  background-color: orange;
  color: #fff;
  border-radius: 500px;
  cursor: pointer;
  font-size: 1.1vw;
}

.last {
  position: absolute;
  width: 30%;
  height: 100%;
  right: 0;
  padding: 10px 10px 10px 0px;
}

.wrapper {
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px;
  border: 1px solid #00000018;
  box-shadow: 1px 1px 10px #0000001a;
  padding: 10px;
}

.icons {
  font-size: 1.8vw;
  margin-right: 4vw;
  display: flex;
  gap: 20px;
  color: gray;
}
.icons > i:hover {
  cursor: pointer;
  color: orange;
}
.logo {
  width: 100%;
  height: 10%;
  background-color: #fff;
}
.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 8vh;
}

.icc {
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.icc:hover > i {
  color: orange;
  cursor: pointer;
}
.icc:hover > span {
  color: orange;
  cursor: pointer;
  transform: scale(1.05);
}
.icc > i {
  color: gray;
}
.icc > span {
  width: 70%;
  font-size: 1.1vw;
  font-weight: 500;
  color: gray;
}
.newsCard {
  width: 30%;
  height: 40%;
  position: absolute;
  right: 10%;
  top: 8%;
  z-index: 99;
  box-shadow: 1px 1px 10px #0000001a;
  border: 1px solid #0000001c;
  border-radius: 20px;
  background-color: #ffff;
  display: none;
}
.logo > img {
  width: 95%;
  height: 100%;
  object-fit: contain;
}
/* .newsCardOne{
  width: 100%;
  height: 55%;
  background-color: #fff;
  box-shadow: 1px 1px 10px solid #00000057;
} */
.newsCardOne {
  padding: 20px;
}
.newsCardOne > span {
  font-size: 1.4vw;
  color: gray;
}
.newsCardOne > p {
  font-size: 1.1vw;
  margin-top: 1vh;
  text-align: start;
}
.frame {
  width: 5vw;
  height: 5vw;
  background-color: red;
}
.frame > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.charr {
  display: flex;
  gap: 10px;
  margin-top: 1vh;
}
.charr > span {
  font-size: 1.2vw;
  color: #000;
}
.ri-menu-line {
  display: none;
}

.sp-items {
  width: 100%;
  height: 7%;
  background-color: #25252518;
  border-radius: 500px;
  border: 1px solid #00000013;
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px #00000011;
  transition: transform 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.sp-items:hover {
  background-color: orange;
}
.sp-items:hover .item-name {
  color: #fff;
}
.item-img {
  width: 3vw;
  height: 3vw;
  background-color: red;
  border-radius: 500px;
  margin-left: 0.5vw;
}
.item-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 500px;
}
.item-name {
  text-decoration: none;
  font-size: 1.2vw;
  color: #000;
  margin-right: 7vw;
}
a {
  text-decoration: none;
}

.shake {
  animation: shake 0.5s ease-in-out;
}
.shake-border {
  border-color: red;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
