@media only screen and (max-width: 600px) {
  .check-out {
    width: 100%;
    height: 30vw !important;
    /* padding: 15px; */
    /* padding-right: 20px;
    }
    .price {
        width: 100%;
        font-size: 5.8vw;
        /* background: white; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
  }

  .last {
    position: relative;
    display: initial;
    width: 100%;
    background-color: #fff;
    margin-top: 1vh;
    overflow: auto;
    z-index: 1;
    border-top: 1px solid #00000027;
    box-shadow: 1px 1px 5px #00000027;
  }
  .box {
    width: 100% !important;
    min-height: 80vh !important;
    border-radius: 0px !important;
    border: none !important;
    box-shadow: none !important;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .item-card {
    width: 42vw !important;
    font-size: 2.8vw;
  }
  .list-products {
    padding-bottom: 20px;
    height: 56vw;
  }
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
  }
  body {
    overflow: auto;
  }
  .first-part {
    /* background: yellow; */
    height: 70vh;
    position: relative;
    top: 0vh;
  }
  .form-container {
    margin-top: 0vw;
    /* margin-left: 1vw; */
    display: flex;
    font-size: 4.5vw;
    justify-content: space-between;
    flex-direction: column;
    /* min-height: 10vh !important; */
    /* position: absolute; */
    width: 100% !important;
    min-height: 75vh;
    /* background-color: red; */
    /* min-height: 10vh !important; */
    /* position: absolute; */
    align-items: start;
  }
  label {
    font-weight: 500;
    color: #000;
    font-size: 4.2vw;
    margin-left: 0.5vw;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    /* margin-top: 80vw !important; */
    /* z-index: 99; */
    /* min-height: 10vh !important; */
    /* position: absolute; */
    width: 100%;
    /* top: 53vh; */
    /* left: 8vw; */
    justify-content: center;
    align-items: flex-start;
    /* padding-left: 5vw; */
    /* margin-top: 80vw;*/
  }
  .text {
    font-weight: 500;
    font-size: 5.5vw;
    margin-top: -2vh;
  }
  .price {
    width: 85vw;
    font-size: 5.8vw;
  }

  form {
    /* background-color: transparent !important; */
    width: 100%;
    position: relative;
    /* margin-top: 20vh; */
    background: #dc3545;
    /* margin-left: 2vw; */
  }

  .clear {
    color: rgba(255, 0, 0, 0.692);
    font-size: 4.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    width: 7vw;
    position: relative;
    margin-left: 10px;
    margin-top: -1vh;
    margin-bottom: 2vh;
    /* gap: 48px; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  }
  #warn {
    color: red;
    position: relative;
    top: 0vh;
    display: none;
    background: transparent;
    left: 4vw;
    font-size: 4vw;
  }
  #payErr {
    color: red;
    position: absolute;
    left: 9vw;
    top: 23vh;
    display: none;
    font-size: 4vw;
  }
  .counter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    height: 6vh;
  }
  .counter input {
    width: 70px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    padding: 5px 20px 5px 20px;
    background: orange;
    color: #fff;
    appearance: none;

    outline: 0;
    height: 36px;
    font-size: 3.5vw;
  }
  .counter span {
    display: block;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    color: orange;
    /* box-shadow: 1px 1px 5px #000; */
    /* background: red; */
    user-select: none;
  }
  .itemButtons {
    width: 100%;
    height: 25%;
    margin-top: 0;
    margin-left: 0;
    border: none;
    background-color: lime;
    color: #fff;
    border-radius: 500px;
    cursor: pointer;
    font-size: 4vw !important;
  }
  .screen-size{
    display: initial;
  }
  .fullScreen{
   display: initial;
   font-size: 5vw;
   margin-left: 90%;
   cursor: pointer;
   
  }
  .halfScreen{
   display: none;
   font-size: 5vw;
   margin-left: 90%;
   cursor: pointer;
  }
  .btn-secondary {
    width: 25vw;
    height: 10vw;
    font-size: 3vw !important;
  }
  #mlbb-playername {
    outline: none;
    border: none !important;
    color: green;
    width: 55%;
    font-size: 4.4vw;
    padding: 1px 4px 1px 4px;
  }
  #mlbb-playerid {
    outline: none;
    border: none !important;
    color: green;
    font-size: 4.4vw;
    width: 55%;
    padding: 1px 4px 1px 4px;
  }
  .isVerify {
    /* margin-right: 30vw !important; */
    color: green;
    display: none;
    font-size: 4.5vw;
  }
  #choosed {
    font-size: 4vw;
  }
}
